html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Norse Bold";
    src: url(assets/Norse-Bold.otf);
    font-weight: bold;
}


.left-side {
    background-image: url(assets/sign-up-background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 40vw;
    align-items: center;
}

.right-side {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo-container {
    margin-top: 150px;
    margin-bottom: 350px;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Norse Bold", sans-serif;
    font-size: 4.2rem;
}

.logo {
    height: 100px;
}

.copyright {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.form-holder {
    box-shadow: 3px;
}

.form-title {
    margin: 0;
    font-size: 1.6rem;
}

form {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.form-column > div {
    width: 190px;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input:focus:valid {
    outline: 1.5px solid blue;
}

input {
    border: 1.5px solid #E5E7EB;
    border-radius: 5px;
    width: 180px;
    height: 17px;
}

input:invalid {
    border-color: red;
}

input:focus:invalid {
    outline: 0.1px solid red;
}

label {
    font-size: 0.7rem;
}

